ocotillo
nyako/vectordb/__pycache__
vectordb/workspace_path
nyako/__pycache__
nyako/core/__pycache__
nyako/inputs/__pycache__
nyako/LLM/__pycache__
nyako/outputs/__pycache__
nyako/processors/__pycache__
OpenAI_Finetuning/nyako_data_repack.jsonl
nyako/module_system/inputs/__pycache__
nyako/module_system/outputs/__pycache__
nyako/module_system/processors/__pycache__
nyako/rvc_pipe
nyako/vectordb/workspace_path
nyako/vectordb/__pycache__
nyako/rvc_voice_models
nyako/inference_temp
nyako/module_system/core/__pycache__
nyako/module_system/inputs/discord_voice_input/__pycache__
Machine Learning.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/