# The frequently-changed settings file
settings.py

# Keys & Tokens
openai_api_key.txt
discord_bot_token.txt

# Vector DB production database directory
vectordb/

# Conversation log directory
logs/

# Images for the reaction image module
images/*
!images/README.md

# Voice model directory
rvc_voice_models

# Bounce-to-disk processing directory
inference_temp

## Boilerplate

# VSCode
.vscode
Machine Learning.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/